
body {
	background-image: url("marble.jpg");

}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 48px;
	font-color:black;
	text-align: center;
}

.main{
	text-align:central;
	margin-right: 50px;
	margin-left:50px;
	font-size:20px;
}

.gems{ 
	margin-left:450px;
 }

 #crystals{
 	font-size:20px;
 	margin-left:50px;
 }